*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
body{
    background-image: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_640.jpg);
    font-family: "Orbitron";
}

.container{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    margin: 100px auto;
    background-image: url(https://cdn.pixabay.com/photo/2016/09/28/13/56/wood-1700562_1280.jpg);
    box-shadow: 5px 5px 5px 5px;
}
.container h1{
    font-size: 26px;
    color: rgba(0, 0, 0, 0.689);
    position: absolute;
    top: 26px;
    left: 130px;
}
.container .link{
    color: rgba(0, 0, 0, 0.689);
    position: absolute;
    top: 75px;
    font-weight: 900;
    left: 160px;
}
.container input{
    width: 240px;
    height: 29px;
    position: absolute;
    text-align: center;
    top: 134px;
    left: 130px;
    border-radius: 9px;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.689);
    border: 1px solid black;
    color: white;
}
.container button{
    position: absolute;
    top: 426px;
    left: 152px;
    width: 190px;
    margin: 0px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.689);
    color: white;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.1s;
}
.container button:active{
    scale: 0.98;
}

.container .result{
    height: 180px;
    width: 175px;
    position: absolute;
    padding: 10px;
    border: 3px solid black;
    top: 205px;
    box-shadow: 2px 2px;
    left: 158px;
    border-radius: 5px;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}